<svg
	id="Layer_1"
	data-name="Layer 1"
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 1000 374.36"
	><defs
		><style>
			.cls-1 {
				fill: #fff;
			}
			.cls-2 {
				fill: #d94948;
			}
		</style>
	</defs><title>Primary-whiteSVG</title><path
		class="cls-1"
		d="M235.77,169.35a4.63,4.63,0,0,1-1.42-3.39V50.81A4.87,4.87,0,0,1,239.16,46h28.16a7.8,7.8,0,0,1,7.31,4.1l30.13,49.38V50.81A4.87,4.87,0,0,1,309.57,46h32.27a4.88,4.88,0,0,1,4.81,4.82V166a4.88,4.88,0,0,1-4.81,4.82H313.67a7.42,7.42,0,0,1-4.63-1.25,12.44,12.44,0,0,1-2.68-2.85l-30.12-45.46V166a4.88,4.88,0,0,1-4.82,4.82H239.16A4.63,4.63,0,0,1,235.77,169.35Z"
	></path><path
		class="cls-1"
		d="M380,160.26q-15.86-12.3-16.93-35.83-.18-4.82-.18-15.51,0-10.87.18-15.87.54-15.33,8.11-26.38a47.27,47.27,0,0,1,20.77-16.76q13.19-5.7,30.66-5.7t30.66,5.7A47.38,47.38,0,0,1,474,66.67q7.58,11.06,8.11,26.38.35,10,.35,15.87t-.35,15.51q-1.08,23.52-16.94,35.83t-42.6,12.3Q395.85,172.56,380,160.26Zm52.15-26q3.47-3.55,3.65-10.87.36-10.33.36-15.16,0-5.16-.36-14.79-.18-7.3-3.74-10.87a14.29,14.29,0,0,0-18.9,0q-3.57,3.55-3.74,10.87-.18,4.82-.18,14.79t.18,15.16q.17,7.3,3.65,10.87t9.54,3.57Q428.65,137.8,432.13,134.23Z"
	></path><path
		class="cls-1"
		d="M500,169.35a4.63,4.63,0,0,1-1.42-3.39V50.81A4.87,4.87,0,0,1,503.34,46H556.1q25.68,0,40.11,11.5t14.44,31.82a39.57,39.57,0,0,1-5.17,20.41,42.78,42.78,0,0,1-14.08,14.53l21.93,40.64a4.55,4.55,0,0,1,.53,2,3.81,3.81,0,0,1-1.16,2.77,3.77,3.77,0,0,1-2.76,1.16H573.39a7.87,7.87,0,0,1-5.08-1.52,8.26,8.26,0,0,1-2.58-3.3L550.4,131.91h-7.31V166a4.88,4.88,0,0,1-4.81,4.82H503.34A4.63,4.63,0,0,1,500,169.35ZM556.1,98a7.41,7.41,0,0,0,6.06-2.58A9.84,9.84,0,0,0,564.3,89a11.68,11.68,0,0,0-2-6.86,7,7,0,0,0-6.15-2.94h-13V98Z"
	></path><path
		class="cls-1"
		d="M628.65,169.35a4.63,4.63,0,0,1-1.42-3.39V50.81A4.87,4.87,0,0,1,632,46h36.37a4.88,4.88,0,0,1,4.81,4.82V166a4.88,4.88,0,0,1-4.81,4.82H632A4.63,4.63,0,0,1,628.65,169.35Z"
	></path><path
		class="cls-1"
		d="M684.18,169.62a3.81,3.81,0,0,1-1.16-2.77,3.86,3.86,0,0,1,.18-1.24L723,51.87a9.18,9.18,0,0,1,2.68-4.1A7.67,7.67,0,0,1,731,46h38.69A7.71,7.71,0,0,1,775,47.77a9.25,9.25,0,0,1,2.67,4.1l39.75,113.74a3.86,3.86,0,0,1,.18,1.24,3.81,3.81,0,0,1-1.16,2.77,3.77,3.77,0,0,1-2.76,1.16h-33c-3.57,0-5.88-1.49-7-4.46l-4.28-11.77H731.15l-4.27,11.77q-1.61,4.45-7,4.46h-33A3.79,3.79,0,0,1,684.18,169.62Zm56.06-49.83h20.15L750.23,86.64Z"
	></path><path
		class="cls-1"
		d="M828.84,169.35a4.63,4.63,0,0,1-1.43-3.39V50.81A4.88,4.88,0,0,1,832.23,46h28.16a7.81,7.81,0,0,1,7.31,4.1l30.13,49.38V50.81A4.87,4.87,0,0,1,902.64,46H934.9a4.88,4.88,0,0,1,4.82,4.82V166a4.88,4.88,0,0,1-4.82,4.82H906.74a7.45,7.45,0,0,1-4.64-1.25,12.39,12.39,0,0,1-2.67-2.85l-30.12-45.46V166a4.88,4.88,0,0,1-4.82,4.82H832.23A4.63,4.63,0,0,1,828.84,169.35Z"
	></path><path
		class="cls-1"
		d="M247.89,312.1q-15.69-12.3-16.75-36.72-.18-4.81-.18-15.87,0-11.23.18-16.22.88-23.17,16.93-35.21t43.14-12q18.18,0,32.09,5.35t21.39,14.44a32.46,32.46,0,0,1,7.84,20,4,4,0,0,1-3.92,3.92H309.22q-3.57,0-5.17-2c-.12-.23-.66-1-1.61-2.23a11.87,11.87,0,0,0-4.37-3.29,15.57,15.57,0,0,0-6.86-1.43q-13.18,0-13.73,13.37-.17,4.81-.17,15t.17,15.33q.54,15.16,14.44,15.16,7.14,0,11.15-3t4-9.63v-.18H298.7a4.85,4.85,0,0,1-4.81-4.81V252.2a4.85,4.85,0,0,1,4.81-4.81h49a4.85,4.85,0,0,1,4.81,4.81v23.18q0,15.67-7.75,26.73t-21.57,16.67q-13.81,5.63-32,5.62Q263.58,324.4,247.89,312.1Z"
	></path><path
		class="cls-1"
		d="M356.9,321.46a3.81,3.81,0,0,1-1.16-2.77,3.86,3.86,0,0,1,.18-1.24l39.75-113.74a9.1,9.1,0,0,1,2.68-4.1,7.65,7.65,0,0,1,5.34-1.78h38.69a7.69,7.69,0,0,1,5.34,1.78,9.18,9.18,0,0,1,2.68,4.1l39.75,113.74a3.86,3.86,0,0,1,.18,1.24,3.94,3.94,0,0,1-3.92,3.92h-33c-3.57,0-5.88-1.48-6.95-4.45l-4.28-11.77H403.87l-4.28,11.77c-1.07,3-3.38,4.45-6.95,4.45h-33A3.76,3.76,0,0,1,356.9,321.46ZM413,271.63h20.15L423,238.48Z"
	></path><path
		class="cls-1"
		d="M501.56,321.19a4.6,4.6,0,0,1-1.43-3.39V202.65a4.88,4.88,0,0,1,4.81-4.82h28.17q5,0,7.66,4.82l25.85,42.78,25.85-42.78q2.67-4.82,7.67-4.82H628.3a4.87,4.87,0,0,1,4.81,4.82V317.8a4.85,4.85,0,0,1-4.81,4.81H596a4.87,4.87,0,0,1-4.82-4.81V269l-11.76,19.25a13.6,13.6,0,0,1-2.77,3.21,5.84,5.84,0,0,1-3.83,1.25H560.38a5.84,5.84,0,0,1-3.83-1.25,13.35,13.35,0,0,1-2.76-3.21L542,269V317.8a4.85,4.85,0,0,1-4.81,4.81H504.94A4.62,4.62,0,0,1,501.56,321.19Z"
	></path><path
		class="cls-1"
		d="M654.15,321.19a4.6,4.6,0,0,1-1.43-3.39V202.65a4.88,4.88,0,0,1,4.81-4.82H749a4.88,4.88,0,0,1,4.82,4.82v25.13a4.87,4.87,0,0,1-4.82,4.81H695.5v11.23h49.56a4.87,4.87,0,0,1,4.81,4.82v23.17a4.85,4.85,0,0,1-4.81,4.81H695.5v11.23h54.91a4.87,4.87,0,0,1,4.81,4.82V317.8a4.85,4.85,0,0,1-4.81,4.81H657.53A4.6,4.6,0,0,1,654.15,321.19Z"
	></path><path
		class="cls-1"
		d="M791.67,319.23q-13.09-5.18-19.69-13.82a32.52,32.52,0,0,1-7-19,3.94,3.94,0,0,1,3.93-3.92h33.86a10.7,10.7,0,0,1,4,.62,15.52,15.52,0,0,1,3.65,2.41q5.17,4.09,13.19,4.1a29,29,0,0,0,9.72-1.34Q837,287,837,284.65q0-3.21-4.81-4.91t-18.18-3.47q-46-6.06-46-39.22a35.08,35.08,0,0,1,6.87-21.3q6.86-9.36,19.16-14.53t28.34-5.17q16.76,0,29.42,5.7t19.43,14.35Q878,224.76,878.4,233a3.77,3.77,0,0,1-1.16,2.76,3.56,3.56,0,0,1-2.59,1.16H839a10.13,10.13,0,0,1-3.92-.62,12.75,12.75,0,0,1-3.21-2.23,14,14,0,0,0-9.45-3.21q-8.55,0-8.55,5c0,1.78,1.39,3.27,4.19,4.46s8,2.26,15.59,3.21q17.83,2.31,28.62,6.95T878,262.81q4.9,7.76,4.9,19.52a34.35,34.35,0,0,1-7.66,22.19q-7.66,9.54-21.13,14.71a84.36,84.36,0,0,1-30.39,5.17Q804.77,324.4,791.67,319.23Z"
	></path><path
		class="cls-2"
		d="M59.65,45.3h144a9.16,9.16,0,0,1,9.17,9.17V197.1c-2.63-.86-5.35-1.68-8.14-2.47a171.24,171.24,0,0,0-26.91-5.42c-5.23-.74-15.33-2.13-21.52-2.62-11.93-1-28,2.47-36.75,3.33-5.76-1.48-17.79-6.78-24-25.74-8.41-25.5-8.76-47.65-3.09-66.56,5.06-16.87,24.29-9.45,28-7.85,1.62,3.19,6.23,4.69,9.09,6.11,2.4,1.2,4.49,1.44,6.22,2.76s3.33,2.49,5.59,1.65,2-3.73,2-3.73,3.15-.91,3-3.33-5.38-6.3-6.93-8.09,1.4-5.79-2.6-7.35a1,1,0,0,0-.16-.06c-1.57-1-4.86-.94-6.36-1.69-4.77-2.38-7.53-4.3-11.35-6.17-4.92-2.4-9.47-3.16-14.81-1.77A35.74,35.74,0,0,0,93,73c-6.92,5-18,17.48-20.37,41.85-1.31,13.64-3,31.39,4.86,63.15,3.67,14.86,13.77,34.47,20.34,46.31.22,10.08,6.82,27.45,14.6,33.29,2.05,16.9,11.4,26.34,12.89,32.69s2.06,22,1.59,24.11-2.52,8.31-2.52,8.31a50.81,50.81,0,0,0-3.67,3.63H59.65a9.17,9.17,0,0,1-9.17-9.17V54.47A9.16,9.16,0,0,1,59.65,45.3Z"
	></path><path
		class="cls-2"
		d="M155.32,317.82c-.8-3.88,1.61-10.43,2.54-14.71s.81-10.71.94-13.25.4-1.87.8-7.63a17.05,17.05,0,0,0-.2-4c9.2,1.73,15,.7,21.44,1,2.45.13,5.41,1.1,8.81,2.26.08.7.17,1.35.25,1.94.85,5.75,4.35,9.95,5.33,15.14s4.3,18.87,3.46,22c-.6,2.24-3,4.28-4.61,5.69H156.59C156.86,324.42,156,321,155.32,317.82Z"
	></path><path
		class="cls-2"
		d="M141.84,290.3a23.12,23.12,0,0,1,.34-2.93,12.8,12.8,0,0,1,.88,2.45c1.42,6.06,2,21,1.51,23s-2.41,7.94-2.41,7.94-1.65,1.47-3.08,3c-.26-1.35-.59-2.79-.88-4.19-.84-4.07,1.68-10.93,2.66-15.42S141.7,293,141.84,290.3Z"
	></path>
</svg>
