---
import { getDinos, getDino } from '~/lib/api';

export async function getStaticPaths() {
	let dinos = await getDinos();

	return dinos.map((post) => {
		return {
			params: { slug: post.slug },
			props: { post: post },
		};
	});
}

const dino = await getDino(Astro.params.slug);
---

<h1 class="text-green-500 text-4xl">{dino.title.rendered}</h1>

<p set:html={dino.content.rendered}></p>
