<section class="p-5 min-h-screen">
	<h2 class="text-5xl font-medium text-center">About</h2>

	<div class="lg:flex lg:flex-row mt-4 gap-2">
		<div class="rounded-md p-5 w-full lg:w-1/2 mb-2 lg:mb-0">
			<div class="text-3xl">Feature 1</div>
			<div class="prose mt-3">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nulla
				vitae cumque dolorum rerum illum minima, quos et nostrum exercitationem
				delectus quasi fuga odio. Rem vero repudiandae dolore earum
				consequuntur?
			</div>
		</div>

		<div class="w-ful lg:w-1/2 mb-2 lg:mb-0">
			<img
				src="images/Concept-1.jpg"
				alt="AoA Concept Art"
				class="rounded-lg"
			/>
		</div>
	</div>

	<div class="lg:flex lg:flex-row mt-5 gap-2">
		<div class="w-ful lg:w-1/2 mb-2 lg:mb-0">
			<img
				src="images/Concept-2.jpg"
				alt="AoA Concept Art"
				class="rounded-lg"
			/>
		</div>

		<div class="rounded-md p-5 w-full lg:w-1/2 mb-2 lg:mb-0">
			<div class="text-3xl">Feature 2</div>
			<div class="prose mt-3">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nulla
				vitae cumque dolorum rerum illum minima, quos et nostrum exercitationem
				delectus quasi fuga odio. Rem vero repudiandae dolore earum
				consequuntur?
			</div>
		</div>
	</div>
</section>
