---
import { Icon } from 'astro-icon';
---

<section class="flex flex-col justify-center items-center bg-slate-700 py-12">
	<h2>Join the community!</h2>

	<a
		href="https://discord.gg/tFrEK6g"
		class="btn btn-primary gap-2 mt-2"
		target="_blank"
	>
		<Icon name="bi:discord" class="h-5 w-5" />
		Join Discord
	</a>
</section>
