<div
	class="hero min-h-screen bg-base-200 bg-[url('images/herobg.jpg')] backdrop-blur-lg"
>
	<div
		class="hero-content flex-col lg:flex-row bg-gradient-to-r from-white/10 to-black/5 backdrop-blur-sm h-full"
	>
		<img src="images/hero.jpg" class="max-w-sm h-auto rounded-lg shadow-2xl" />
		<div class="flex-col gap-2 pl-2">
			<div
				class="lg:bg-slate-800/90 lg:p-3 lg:mb-1 lg:backdrop-blur-lg lg:rounded-md"
			>
				<h1 class="text-5xl font-bold text-center lg:text-left">
					Aldian of Ancients
				</h1>
				<p class="my-4 text-center lg:text-left">
					Immerse yourself in an ancient world, lost in the shuffle of
					evolution, filled with creatures that imparts awe and wonder. Explore
					a beautifully crafted open world filled with flora and fauna from
					bygone ages.
				</p>
			</div>
			<button class="btn btn-primary w-full gap-2 lg:w-auto lg:mt-2">
				<span class="material-icons">arrow_downward</span>

				Learn more
			</button>
		</div>
	</div>
</div>
