<div class="hero min-h-screen bg-base-200">
	<div class="hero-content flex-col lg:flex-row">
		<img src="images/hero.jpg" class="max-w-sm rounded-lg shadow-2xl" />
		<div class="flex-col gap-2 pl-2">
			<h1 class="text-5xl font-bold text-center lg:text-left">
				Aldian of Ancients
			</h1>
			<p class="my-7 text-center lg:text-left">
				<span class="text-primary">Aldian of Ancients</span> aims to emulate the
				days long gone, when the earth was untouched by man and filled with creatures
				that defied our wildest imaginations. We hope to keep the game as realistic
				as possible with very few liberties, taking into account the invaluable suggestions
				imparted to us by researchers and zoologists. The world is further divided
				into different biomes that are unique and beautifully crafted to instill
				a feeling of immersion in players.
			</p>
			<button class="btn btn-primary w-full gap-2 lg:w-auto">
				<span class="material-icons">arrow_downward</span>

				Learn more
			</button>
		</div>
	</div>
</div>
