<div class="hero min-h-screen bg-base-200">
	<div class="hero-content flex-col lg:flex-row">
		<img src="images/hero.jpg" class="max-w-sm h-auto rounded-lg shadow-2xl" />
		<div class="flex-col gap-2 pl-2">
			<h1 class="text-5xl font-bold text-center lg:text-left">
				Aldian of Ancients
			</h1>
			<p class="my-7 text-center lg:text-left">
				Immerse yourself in an ancient world, lost in the shuffle of evolution,
				filled with creatures that imparts awe and wonder. Explore a beautifully
				crafted open world filled with flora and fauna from bygone ages.
			</p>
			<button class="btn btn-primary w-full gap-2 lg:w-auto">
				<span class="material-icons">arrow_downward</span>

				Learn more
			</button>
		</div>
	</div>
</div>
