<div class="hero min-h-screen bg-base-200">
	<div class="hero-content flex-col lg:flex-row">
		<img src="images/hero.jpg" class="max-w-sm rounded-lg shadow-2xl" />
		<div class="flex-col gap-2 pl-2">
			<h1 class="text-5xl font-bold">Aldian of Ancients</h1>
			<p class="my-7">
				Immerse yourself in an ancient world, lost in the shuffle of evolution,
				filled with creatures that imparts awe and wonder. Explore a beautifully
				crafted open world filled with flora and fauna from bygone ages. Select
				from a vast roster of prehistoric creatures that includes dinosaurs,
				synapsids, temnospondyls and pterosaurs and make herds or coalitions
				with other players to take on the perils of Pangaea. Master the lands
				and claim territories for your herd for in Pangaea only the toughest and
				smartest will survive.
			</p>
			<button class="btn btn-primary">Get Started</button>
		</div>
	</div>
</div>
